{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/env",
      { "targets": { "node": 6 } },
      // tells webpack to compile to ES5
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "modules": false,
        "loose": false
      }
    ]
  ],
  // transform-class-properties for backward compatibility
  "plugins": ["lodash", "transform-class-properties"],
  "env": {
    // transform-es2015-modules-commonjs for backward compatibility
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
